// component css goes here
:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

.post-image img {
  box-shadow: 1px 1px 5px(#000);
  border-radius: 5px;
}

mat-paginator {
  margin: 1rem;
}
